@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
    /* layout */
    --width: min(100%, 85rem);

    /* colors */
    --button-hvr-bg: hsl(347, 100%, 69.4%);
    --button-hvr-txt: white;

    --bg-color-light: white;
    --bg-color-dark: hsl(222, 10%, 20%);

    --color-light: white;
    --color-dark: hsl(220, 10%, 28%);

    --txt-dark: white;
    --txt-light: black;

    --modal-btn-bg: hsla(206, 88%, 55%, 1);
    --modal-btn-txt: white;
    --modal-btn-hvr-bg: rgb(81, 173, 243);
    --modal-btn-hvr-txt: white;

    --background-color: var(--bg-color-light);
    --card-color: var(--color-light);
    --txt-color: var(--txt-light);
    --button-color: lightgrey;
    --button-txt-color: var(--txt-light);
}

/* General Styles */
* {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--txt-color);
}

button {
    border: none;
    border-radius: .25rem;
    font-weight: 500;
    color: var(--button-txt-color);
    background-color: var(--button-color);
    padding: .5rem 1rem;
}

button:hover {
    background-color: var(--button-hvr-bg);
    color: var(--button-hvr-txt);
    cursor: pointer;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width);
    margin: auto;
}

/* dark and light theme button */
.dark-toggle {
    padding:0;
    background-color: transparent;
    color: var(--txt-color);
}

.dark-toggle > svg {
    width: 2.5rem;
}

.dark-toggle:hover {
    background-color:transparent;
    color: var(--button-hvr-bg);
}


/* main content syles */
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: var(--width);
    margin: auto;
}

.card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: var(--card-color);
}

.card p {
    display: flex;
    justify-content: space-between;
}

/*search section styling */
.search {
    flex-direction: column;
    gap: .5rem;
}

.search > input {
    padding: .5rem;
}

.search > button {
    padding: .5rem 2rem;
    min-width: 19rem;
}

.search > button:active {
    margin: .25rem auto -.25rem auto;
}

.city-container, .recent-cities, .search {
    display: flex;
}

.city-container {
    gap: 2rem;
}

.recent-cities {
    gap: .5rem;
    flex-wrap: wrap;
}

.new-user-msg {
    align-self: start;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-weight: 500;
    background-color: var(--button-hvr-bg);
}


/* Today weather section */
.current-weather {
    display: flex;
    gap: 2rem;
    max-height: 25rem;
    min-width: 0;
}

.today-card {
    min-width: 15rem;
    padding: 0 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.current-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-header > img {
    margin-right: -1.8rem;
}

.today-info {
    margin-top: 4rem;
}
.today-info > p {
    display: flex;
    justify-content: space-between;
}

/* uvi and warning classes */
#uvi {
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.safe {
    background-color: hsla(161, 92%, 40%, 1);
}

.moderate {
    background-color: hsla(49, 88%, 62%, 1);
}

.high {
    background-color: hsla(36, 89%, 59%, 1);
}

.danger {
    background-color: hsla(352, 68%, 50%, 1);
}

/* chart container */
.chart {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1rem;
}

#weather-chart {
    width: 100%;
    height: 100%;
}


/* forcast section */
.forcast {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.day-card {
    min-width: 10rem;
    padding: 1rem; 
    flex-grow: 1;  
}

.day-card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-card-title-container h3, .day-card-title-container p {
    margin: 0;
}

.day-pic-container {
    text-align: center;
}

/* modal */
#modal-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--modal-btn-bg);
    color: var(--modal-btn-hvr-txt);
}

#modal-btn:hover {
    background-color: var(--modal-btn-hvr-bg);
    color: var(--modal-btn-hvr-txt);
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:hsla(220, 10%, 28%, 0.7);
}

.modal {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: min(84%, 30rem);
    margin: auto;
    padding: 1.5rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content > h3 {
    margin-top: 2.5rem;
}

.modal-content > p {
    display: block;
}

#close-modal {
    padding: 0;
    background-color: transparent;
    color: var(--txt-color);
}

#close-modal > svg {
    width: 2.5rem;
    height: 2.5rem;   
}

#close-modal:hover {
    color: var(--button-hvr-bg);
}


/* mobile styling */
@media (max-width:  700px) {

    .city-container {
        flex-direction: column;
    }

    .recent-cities > button {
        flex-basis: calc(49% );
        padding: .5rem 0;
    }

    .current-weather {
        flex-wrap: wrap;
        max-height: none;
    }

    .today-card{
        flex-basis: 100%;  
    }

    .chart {
        min-height: 20rem;
    }
}


/*helper styles*/
.hidden {
    display: none;
}

.input-error {
    border: .2rem solid red;
    border-radius: .25rem;
}