@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
    /* layout */
    --width: min(100%, 85rem);

    /* colors */
    --search-btn: ;
    --button-hvr-bg: hsl(347, 100%, 69.4%);
    --button-hvr-txt: white;
}




* {
    font-family: 'Rubik', sans-serif;
}

header {
    width: var(--width);
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: var(--width);
    margin: auto;
}

button {
    border: none;
    border-radius: .25rem;
    font-weight: 500;
    padding: .5rem 1rem;
}

button:hover {
    background-color: var(--button-hvr-bg);
    color: var(--button-hvr-txt);
}

button:active {
    margin: .25rem auto -.25rem auto;
}

/* search section styling */
.city-container, .recent-cities, .search {
    display: flex;
}

.city-container {
    gap: 2rem;
}

.recent-cities {
    gap: .5rem;
    flex-wrap: wrap;
}

.search > button {
    padding: .5rem 2rem;
    margin-left: 1rem;
}

.search > input {
    padding: .5rem;
}


/* Today weather section */
.current-weather {
    display: flex;
    gap: 2rem;
    max-height: 25rem;
    min-width: 0;
}

.chart {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#weather-chart {
    width: 100%;
    height: 100%;
}

.today-card {
    min-width: 15rem;
    padding: 0 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.current-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-header > img {
    margin-right: -1.8rem;
}
.today-info > p {
    display: flex;
    justify-content: space-between;
}


/* forcast section */
.forcast {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    min-width: 10rem;
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    flex-grow: 1;
}

.card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title-container h3, .card-title-container p {
    margin: 0;
}

.day-pic-container {
    text-align: center;
}

.card p {
    display: flex;
    justify-content: space-between;
}

/*helper styles*/
.hidden {
    display: none;
}

@media (max-width: 1000px) {
    .search {
        flex-direction: column;
        gap: .5rem;
    }

    .search > button {
        margin-left: 0;
        min-width: 19rem;
    }
}


@media (max-width:  700px) {

    .city-container {
        flex-direction: column;
    }

   

    .recent-cities > button {
        flex-basis: calc(49% );
        padding: .5rem 0;
    }

    .current-weather {
        flex-wrap: wrap;
        max-height: none;
    }

    .today-card{
        flex-basis: 100%;  
    }
}